@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number arrows on input fields */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* #nav a.active {
  color: #115e59;
}
#nav a.hover {
  color: #0f766e;
} */
